@charset "UTF-8";

#boardList {
    height: 100vh;
}

#boardList a {
    text-decoration: none;
}

#boardList a:hover {
    color: #ddd;
}

#boardList_area {
    border : 1px solid #ddd;
    padding: 10px 0px; 
  
    display: flex;
    
    
}

#boardList_area table {
    width: 76vw;
    margin: 0 auto;
}

#boardList_area table tbody td {
    border-bottom: 1px solid #ddd;
}

#boardList_area #paging > div > span {
  
}

#boardWriteBtnArea {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}