@charset "UTF-8";

#addbook {
    width: 100%;
}

#addbook_area {
    border : 1px solid #ddd;
    padding: 10px 20px; 
}

#book_status {
    display: flex;
    width: 12vw;
    justify-content: space-between;
    align-items: center;
    
}

#text-end a {
    margin: 0 5px;
}

#addbook #bookWriteForm {
    margin: 10px 0px;
}

#addbook #bookWriteForm #bookWriteBtnArea {
    display: flex;
    justify-content: center;
    align-items: center;
}

#addbook #bookWriteForm #bookWriteBtnArea button {
    margin-right: 2px;
}