@charset "UTF-8";

#bookList {
    height: 158vh;
}

#bookList a {
    text-decoration: none;
}

#bookList a:hover {
    color: #ddd;
}

#bookList_area {
    border : 1px solid #ddd;
    padding: 10px 10px; 
    height: 122vh;  
    
}

#bookList_area table {
    width: 76vw;
    margin: 0 auto;
}

#bookList_area table tbody td {
    border-bottom: 1px solid #ddd;
}

#boardList_area #paging > div > span {
  
}

@media (max-width:1023px) {
	
}

@media (max-width:767px) {

    footer {
        display: none;
    }

    #bookList {
        height: 100%;
    }

    #bookList_area {
        border: 1px solid #ddd;
        padding: 10px 10px;
        height: 100%;
    }

}