@charset "UTF-8";



#orderList {
    height: 100vh;
}

#orderList a {
    text-decoration: none;
}

#orderList a:hover {
    color: #ddd;
}

#orderList_area {
    border : 1px solid #ddd;
    padding: 10px 20px; 

}

#orderList_area > div > div > table > tbody > tr > td#orderListBtn a {
    padding-right: 5px;
}

#orderList_area_btn {
    border-bottom : 1px solid #ddd;
    padding-bottom: 10px;
    
    display: flex;
    justify-content: space-between;
}

#orderList #orderList_area #isOrders {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

#orderList #orderList_area #isOrders p {
    font-weight: bold;
    font-size: 15px;
}

#orderList #orderList_area #pagination {
    display: flex;
    justify-content: center;
    margin: 30px;
    gap: 6px;
    flex-wrap: wrap;
}

#orderList #orderList_area #pagination a {
    color: #1f5fbf;
    padding: 3px 6px;
    text-decoration: none;
    border: 1px solid #d1dce5;
    border-radius: 6px;
    transition: ease-in;
    font-weight: 500;
    font-size: 0.95rem;
}

#orderList #orderList_area #pagination a:hover {
    background-color: #f0f6ff;
}

#orderList #orderList_area #pagination a.active {
    background-color: #1f5fbf;
    color: white;
    border-color: #1f5fbf;
    font-weight: 600;
}