@charset "UTF-8";

#orderList {
    height: 100vh;
}

#orderList a {
    text-decoration: none;
}

#orderList a:hover {
    color: #ddd;
}

#orderList_area {
    border : 1px solid #ddd;
    padding: 10px 20px; 

}

#orderList_area > div > div > table > tbody > tr > td#orderListBtn a {
    padding-right: 5px;
}

#orderList_area_btn {
    border-bottom : 1px solid #ddd;
    padding-bottom: 10px;
    
    display: flex;
    justify-content: space-between;
}

#orderList #orderList_area #isOrders {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

#orderList #orderList_area #isOrders p {
    font-weight: bold;
    font-size: 15px;
}
